<div class="visits-container">
  <h1>Moje wizyty</h1>
  <section role="list">
    <article *ngFor="let visit of visits" role="listitem" tabindex="0">
      <h2>Wizyta: {{ visit.date | date: 'longDate' }} o {{ visit.hour }}</h2>
      <p><strong>Specjalizacja:</strong> {{ visit.details.specialization }}</p>
      <p><strong>Lekarz:</strong> {{ visit.details.doctor }}</p>
      <p><strong>Opis dolegliwości:</strong> {{ visit.details.description }}</p>
      <p><strong>Forma płatności:</strong> {{ visit.details.paymentMethod }}</p>
      <p *ngIf="visit.details.paymentMethod === 'gotowka'">
        <strong>Waluta:</strong> {{ visit.details.currency }}
      </p>
      <p><strong>Koszt wizyty:</strong> {{ getVisitCost(visit) }}</p>

      <div class="button-group">
        <button
          type="button"
          (click)="editAppointment(visit)"
          [attr.aria-label]="'Edytuj wizytę u ' + visit.details.doctor + ' w dniu ' + (visit.date | date: 'longDate')"
        >
          Edytuj
        </button>
      
        <button
          type="button"
          (click)="cancelVisit(visit)"
          [attr.aria-label]="'Odwołaj wizytę u ' + visit.details.doctor"
        >
          Odwołaj wizytę
        </button>
      </div>
      

    </article>
  </section>
</div>
