<div class="form-container">
  <h2>Logowanie</h2>

  <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
      <label for="email">E-mail:</label>
      <input id="email" type="email" formControlName="email" aria-label="Adres e-mail" required />
      <small *ngIf="loginForm.get('email')?.invalid && loginForm.get('email')?.touched" role="alert">
          Wprowadź poprawny e-mail.
      </small>

      <label for="password">Hasło:</label>
      <input id="password" type="password" formControlName="password" aria-label="Hasło użytkownika" required />
      <small *ngIf="loginForm.get('password')?.invalid && loginForm.get('password')?.touched" role="alert">
          Wprowadź poprawne hasło.
      </small>

      <button type="submit" [disabled]="loginForm.invalid">Zaloguj</button>
  </form>
</div>
