<div class="calendar-container">
  <div *ngIf="successMessage" class="success-message">
    {{ successMessage }}
  </div>

  <div class="calendar-header">
    <button class="calendar-nav-button left" (click)="previousMonth()" aria-label="Poprzedni miesiąc">&lt;</button>
    <h2>{{ formattedMonth }}</h2>
    <button class="calendar-nav-button right" (click)="nextMonth()" aria-label="Następny miesiąc">&gt;</button>
  </div>
  

  <div class="weekdays">
    <div *ngFor="let day of weekdays" aria-hidden="true">{{ day }}</div>
  </div>

  <div class="calendar" role="grid">
    <div class="week" *ngFor="let week of weeksInMonth" role="row">
      <div
        class="day"
        *ngFor="let day of week"
        [class.available]="day && !day.isPast && day.isAvailable"
        [class.booked]="day && !day.isPast && day.isFullyBooked"
        [class.past]="day && day.isPast"
        (click)="selectDay(day)"
        (keydown.enter)="selectDay(day)" 
        (keydown.space)="selectDay(day)"
        [tabindex]="day && !day.isPast && !day.isFullyBooked ? '0' : '-1'"
        role="gridcell"
        [attr.aria-selected]="selectedDay?.date === day?.date ? 'true' : 'false'"
      >
      <strong *ngIf="day">{{ day.date | date : "dd" }}</strong>
    </div>

    </div>
  </div>
  
  <div *ngIf="selectedDay" class="time-selection">
    <h3 id="hourSelection">Wybierz godzinę dla dnia {{ getFormattedDateForSelection() }}</h3>
    <button
      *ngFor="let hour of hours"
      [class.available]="
        !isHourFullyBooked(selectedDay.date, hour) &&
        isHourInFuture(selectedDay.date, hour)
      "
      [class.booked]="isHourFullyBooked(selectedDay.date, hour)"
      [class.selected]="hour === selectedHour"
      [disabled]="
        isHourFullyBooked(selectedDay.date, hour) ||
        !isHourInFuture(selectedDay.date, hour)
      "
      (click)="selectHour(hour)"
      [attr.aria-label]="'Wybierz godzinę ' + hour"
      #hourButton
    >
      {{ hour }}      
    </button>

  </div>
</div>

<div *ngIf="showAppointmentForm" class="appointment-form">
  <h3>Wypełnij szczegóły wizyty</h3>

  <form [formGroup]="appointmentForm" (ngSubmit)="bookAppointment()">
    <label for="specialization">Wybierz specjalizację:</label>
    <select id="specialization" formControlName="specialization" aria-labelledby="specialization">
      <option *ngFor="let spec of getAvailableSpecializations(selectedHour)" [value]="spec">
        {{ spec }}
      </option>
    </select>
    <div
      class="error"
      *ngIf="
        appointmentForm.get('specialization')?.invalid &&
        appointmentForm.get('specialization')?.touched
      "
    >
      To pole jest wymagane.
    </div>

    <label for="doctor">Wybierz lekarza:</label>
    <select id="doctor" formControlName="doctor" aria-labelledby="doctor">
      <option *ngFor="let doc of getAvailableDoctorsForHour(selectedHour, appointmentForm.get('specialization')?.value)" [value]="doc">
        {{ doc }}
      </option>
    </select>
    <div
      class="error"
      *ngIf="
        appointmentForm.get('doctor')?.invalid &&
        appointmentForm.get('doctor')?.touched
      "
    >
      To pole jest wymagane.
    </div>

    <label>Opis dolegliwości:</label>
    <textarea formControlName="description"></textarea>
    <div
      class="error"
      *ngIf="
        appointmentForm.get('description')?.invalid &&
        appointmentForm.get('description')?.touched
      "
    >
      Opis musi zawierać co najmniej 10 znaków.
    </div>

    <label for="paymentMethod">Forma płatności:</label>
      <select id="paymentMethod" formControlName="paymentMethod" aria-labelledby="paymentMethod">
        <option value="gotowka">Gotówka</option>
        <option value="karta">Karta</option>
      </select>
    <div
      class="error"
      *ngIf="
        appointmentForm.get('paymentMethod')?.invalid &&
        appointmentForm.get('paymentMethod')?.touched
      "
    >
      To pole jest wymagane.
    </div>

    <label *ngIf="appointmentForm.get('paymentMethod')?.value === 'gotowka'" for="currency">Waluta:</label>
    <select id="currency" formControlName="currency" *ngIf="appointmentForm.get('paymentMethod')?.value === 'gotowka'" aria-labelledby="currency">
        <option value="PLN">PLN</option>
        <option value="EUR">EUR</option>
        <option value="USD">USD</option>
    </select>
    <div
      class="error"
      *ngIf="
        appointmentForm.get('currency')?.invalid &&
        appointmentForm.get('currency')?.touched
      "
    >
      To pole jest wymagane.
    </div>

    <label>
      <input type="checkbox" formControlName="agreement" />
      Zgadzam się na umówienie wizyty
    </label>
    <div
      class="error"
      *ngIf="
        appointmentForm.get('agreement')?.invalid &&
        appointmentForm.get('agreement')?.touched
      "
    >
      Musisz zaakceptować warunki rezerwacji.
    </div>

    <p *ngIf="appointmentForm.get('paymentMethod')?.value === 'karta'">
      Cena wizyty: <strong>150 PLN</strong>
    </p>

    <p *ngIf="appointmentForm.get('paymentMethod')?.value === 'gotowka' && appointmentForm.get('currency')?.value === 'PLN'">
      Cena wizyty: <strong>150 PLN</strong>
    </p>

    <p *ngIf="appointmentForm.get('paymentMethod')?.value === 'gotowka' && appointmentForm.get('currency')?.value !== 'PLN'">
      Cena wizyty: <strong>{{ convertedPrice }} {{ appointmentForm.get('currency')?.value }}</strong>
    </p>

    <div *ngIf="appointmentForm.valid" class="summary">
      <h3>📝 Podsumowanie wizyty</h3>
      <p><strong>Specjalizacja:</strong> {{ appointmentForm.value.specialization }}</p>
      <p><strong>Lekarz:</strong> {{ appointmentForm.value.doctor }}</p>
      <p><strong>Opis:</strong> {{ appointmentForm.value.description }}</p>
      <p><strong>Data:</strong> {{ selectedDay?.date | date: 'dd-MM-yyyy' }}</p>
      <p><strong>Godzina:</strong> {{ appointmentForm.value.hour }}</p>
      <p><strong>Forma płatności:</strong> {{ appointmentForm.value.paymentMethod }}</p>
      <p *ngIf="appointmentForm.value.paymentMethod === 'gotowka'">
        <strong>Waluta:</strong> {{ appointmentForm.value.currency }}
      </p>
      <p *ngIf="formattedPrice"><strong>Koszt wizyty:</strong> {{ formattedPrice }}</p>
    </div>

    <button type="submit" [disabled]="!appointmentForm.valid">
      Zapisz wizytę
    </button>
  </form>
</div>
<div class="footer-spacer"></div>

