.home-container {
    text-align: center;
    margin: 20px;

    h1 {
        font-size: 2rem;
        color: #333;
    }

    p {
        font-size: 1.2rem;
        color: #666;
    }
}
.nav-button{
    font-weight: bold;
}